/* +++++++ELEMENTOS+++++++ */
h1{
    font-size: 44px;
    color: white;
    font-weight: 400;
    letter-spacing: -0.012em;
    font-family: 'Righteous', cursive;
}
h2{
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 21px;
    font-family: 'roboto';
}

h3{
    font-size: 23px;
    margin-left: 19px;
    letter-spacing: 0.018em;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

h4{
    font-size: 16px;
    font-weight: 700;
    color:#333333;
    font-family: 'roboto';
    margin-top: 8px;
}

h5{
    margin-top: 4px;
    font-size: 15px;
    font-weight: 300;
    color:#a6a6a6;
}

h6{
    font-size: 16px;
    font-weight: 400;
    font-family: 'roboto';
    color: black;
}

body{
   
    background-color: #E5E5E5;
}

ion-icon{
    width: 15.5px;
    height: 15.5px;
}

/* ++++++ELEMENTOS++++++ */


/* ++++++CLASSES++++++ */

/* Cabecalho */

.user_options{
    margin-top: 120px;
}

.header{
    height: 91px;
    width: 100%;
    box-shadow:  0px 1px 10px rgba(0,0,0,.9);
    background-color: #CF2B2B;
    position: fixed;
    top:0;
    z-index: 3;
}

.Title{
    padding-top: 8px;
    display: flex;
    margin-left: 21px;
    justify-content: flex-start;
    flex-direction: column;
}

/* CABECALHO */

/* Escolha do pedido */

.order_section{
  
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-bottom: 27px ;
    margin-top: 17px;
    padding-left: 19px;
}

.prato{
    width: 172px;
    height: 216px;
    box-sizing: border-box;
    margin-right: 16px;
    background-color:white ;
    border-radius: 9px;
    padding-left: 15px;
    padding-top: 18px;
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.check{
    color:white;
    position: relative;
    left: 125px;
    top: 15px;
    background-color: #32B72F;
    border-radius: 15px;
    
}

.hide{
    display: none;
}
/** renomear classe **/
.teste{
    width: 172px;
    height: 216px;
    box-sizing: border-box;
    margin-right: 16px;
    background-color:white ;
    border-radius: 9px;
    padding-left: 10px;
    padding-top: 13px;
    padding-right: 15px;
    border: 5px solid #32B72F;
}
/** renomear classe **/

.prato img{
    width: 142px;
    height: 86px;
    border-radius: 4px;
}

/* ESCOLHA DO PEDIDO */

/* finalizacao do pedido */


.order_finish{
    height: 92px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }



button{ /* consertar */
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    color: white;
    border-radius: 50px;
    border: none;
}

.confirm{
    background-color: #32B72F;
}

.block{
    height: 92px;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

/* finalizacao do pedido */



/* +++++++CLASSES+++++++ */